*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Patrick Hand SC', cursive;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
  .main-content {
    position: relative;
    /* display: flex; */
  }

  .duration-700 { 

    filter:sepia(0.2);
    
  }

  .main-content h2 {
    /* position: absolute; */
    /* align-self: center; */
    /* left: 18px; */
    font-size: 2.5rem;
    font-weight: bolder;
    /* color: #ebf3eb; */
    color: #000000;
    margin-top: 28px;
    /* text-shadow: 3px 3px rgb(48, 96, 0); */
    
  }

  .trans h2 {
    text-align: center;   
   
     }
  

  .main-content p {
    color: #e9e9e9;
    font-size: 30px;
    font-weight: bolder;
    justify-content: center;
    text-align:center;
    text-shadow: 2px 2px rgb(48, 96, 0);
  }

  .info1  {
width: 100%;
height: 20vh;
box-sizing: border-box;
border-radius: 5px;
background-image: url(./images/info2.jpeg);
color: #000000;
text-align: left;
background-size: cover;
margin-top: 20px;

  }


  .info2  {
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url(./images/info1.jpeg);
    background-size: cover;
    color: #000000;
    text-align: left;
    padding: 12px;
    font-size: 14px;
    margin-top: 20px;
      }

    /* .info1 h4, .info2 h4, .info1 p, .info2 p{
        background-color: rgba(31, 116, 66, 0.3);
      }

      */

    .info1-text {
      width: 60%;
      height: 90%;
      padding-left: 20px;
      
    }

    .info2-text {
      width: 80%;
      padding-bottom: 10px;
    }

    .info1 p {
  color: #87ab69;
  font-weight: 500;
    }

    .info2-text p {
      color: whitesmoke;
    }

    .info1 h4, .info2 h4 {
color: #000000;
text-align: center;
padding-top: 10px;
font-weight: bolder;
font-size: 18px;

    }

    .aquatic {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      

    }

    .aquatic button {

      background-color:#a3c585;
      position: absolute;
      top: 0;
      color: rgb(10, 10, 10);
      padding: 10px;
      /* margin: 5px; */


    }

    .aquaticgeneral {
      background-color:  #DCE4D9;
    }

  .acp {
    font-size: 40px;
  padding-left: 13%;
  padding-top: 2%;
  }

    .aquatic-div {
      position: relative;
     border:#a3c585 solid 10px;
    }

    footer {
      background-color: #393939;
      padding: 20px 0;
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
    }
    
    .social-icons {
      margin-bottom: 10px;
    }
    
    .social-icons a {
      display: inline-block;
      margin: 0 10px;
      color: #fff;
      font-size: 24px;
      line-height: 1;
      border-radius: 50%;
      /* background-color: #77bb43; */
      width: 40px;
      height: 40px;
    }
    
    .footerp {
      color: #fff;
      margin-top: 10px;
      font-size: 14px;
      font-style: italic;
    }
    
      .social-icons a {
        font-size: 20px;
        width: 22px;
        height: 22px;
      }
      
      .footerp {
        font-size: 12px;
      }
    
    .headersection {
      background-color: #F2F0EF;
      padding: 20px;
    }

    .emailbox label {
      background-color: #87ab69;
      padding: 5px;
      color: whitesmoke;
      font-size: 22px;
      font-weight: 700;
    }

    .emailbox input {
      background-color: #DCE4D9;
      height: 43px;
      padding-left: 20px;
    }

    .emailbox {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      margin-bottom: 25px;
    }

  /* CSS for mobile screens */

/* CSS for tablets */

/* CSS for desktop screens */

/* @media screen and (min-width: 1024px) {
  .headersection

   {
    padding: 30px;
    max-width: 100%;
    height: 100%;
    text-align: center;
  }

  .main-content h2 {
    font-size: 3rem;
  }

  .main-content p {
    font-size: 24px;
  }

  .info1-text,
  .info2-text {
    width: 50%;
  }

  .info1-text h4,
  .info2-text h4 {
    font-size: 1.5rem;
  }

  .info1-text p,
  .info2-text p {
    font-size: 1.2rem;
  }

  .info1,
  .info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}  

.blankk{
  width: 100%;
  height: 75px;
  background-color: #E5E1E1;
  position: absolute;
  display: none;
  position: absolute;
  top: 12vh;
  left: 0;
  
  
}
.textsearch{
position: absolute;
top: 0;
right: 20px;
height: 50px;
width: 265px;
border: none;
border-right: #1D5B37 solid 3px  ;
border-bottom: #1D5B37 solid 5px  ;
background-color: rgba(211, 234, 209, 0.5);
  font-size: 20px;
  padding: 10px;
}
#search:checked  ~ .blankk{
  display: block;
}

.logo img{
    overflow: hidden; 
}

.search i{
    font-size: 50px;
    color:#1D5B37 ; 
}
.popupmenu{
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #E5E1E1;
    width: 80%;
    height: 100vh;
   z-index: 50;
    
    transition: all 0.5s ease-out;
}



#menucheck:checked ~ .popupmenu{
    /* display: block; */
    /* transform: translate(125%);

} */
#menucheck:checked ~ .popupmenu{
  /* display: block; */
  transform: translate(125%);

}

#menucheck:checked ~ .burger {
  /* position: absolute;   
  z-index: 51; */
    

}
.menu i:nth-child(1){
    font-size: 50px;
    color:#1D5B37 ; 
    z-index: 51;
   
    
}
.menu i:nth-child(2){
    
    font-size: 60px;
    color:#1D5B37 ;
    position: absolute;
    left: 20px;
    top: 20px;    
    z-index: 51;
    
}
.fa-bars {
  opacity: 1;
  
}
.fa-xmark {
  opacity: 0;
}
#menucheck:checked ~ .burger .menu .fa-bars {
    
    opacity: 0;
    
  }
#menucheck:checked ~ .burger .menu .fa-xmark {
    
    opacity: 1;
   
  }
  #menucheck:checked ~ .popupmenu .leafe {
    animation: moveAndRotate 5s ease-in-out ;
    }
  #mainli:checked ~ .subul{
    display: block;
  }

  #mainli:checked ~ label li .fa-angle-down{
    transform: rotate(180deg);
  }
  
 .thirdmenu{
  border-right: black solid 1px;
  background-color: #E5E1E1;
  position: absolute;
  left: -100%;
  top: 170px;
  width: 100%;
  height: 100vh;
  transition: all 1s ease;
  padding-left: 0px;
 }
 .therestli{
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #1D5B37;
  font-size: 24px;
 }
 .therestli li{
  list-style: none;
 }
 .indoor{
  color:#658354;
  font-size:32px ;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 30px;
  list-style: none;
 }
 #subli:checked ~ .thirdmenu{
  left: 0;
 
 }
 #subli{
  list-style: none;
 }
 .smaller{
  transform: rotate(180deg);
  margin-right: 10px;
 }
.input{
    display: none;
}
.popupmenu .mainlist{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* gap: 50px;  */
    margin-left: 30px;
    margin-top: 30px;
    



}
.popupmenu .mainlist .mainlistitem {
    text-decoration: none;
    color: #658354;
    font-weight: 700;
    
}
.popupmenu .mainlist .mainlistitem{
    text-decoration: none;
    font-size: 32px;

  }
  .subli a{
    text-decoration: none;
    color: #87ab69;
    
  }
  .leafe{
    padding-top: 30px;
    padding-left: 130px;

  }
  
  .aquatic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
  }

  .aquatic img {
    max-width: 100%;
    height: 100%;
  }

  .aquatic button {
    padding: 12px;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
  } 
  @keyframes moveAndRotate {
    0% {
      transform: translateX(0) rotate(0);
    }
    25% {
      transform: translateX(50px) rotate(-45deg);
    }
   
    50% {
        transform: translateX(-50px) rotate(45deg);
      }
      65% {
        transform: translateY(300px) rotate(180deg);
      }
      75% {
        transform: translateY(500px)  rotate(90deg);
      }
      100% {
        transform: translateY(800px)   rotate(360deg);
      }
  }
  @media (min-width: 391px)
  {
    .infoflex 
    {
      display: flex;
      gap: 20px;
      
    }
    
.info1 h4, p {

  text-align: left;
  padding-left: 5%;
  padding-top: 10%;

}

.info2 h4, p {

  text-align: left;
  padding-left: 5%;
  padding-top: 5%;

}

.aquatic {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 100px;
  background-color:  #DCE4D9;
justify-content: center;
align-items: center;
}
.aquatic-div{

width: 400px;
height: 350px;

}
.aquatic-div img {

width: 100%;
height: 100%;

}
  }


  .headersection {
    background-image: url(./images/background.jpg);
    background-size: cover;
  }
    
  .subul{
    margin-left: 50px;
    list-style: none;
    display: none;
  }
  .subli {
    color:	#87ab69 ;
    font-size: 24px;
    font-weight: 700;

  }
  .subli i {
    color: black;
    font-size: 16px; 
    margin-left: 10px;    
  }
  .fa-angle-down{
    color: black;
    margin-left: 10px;
  }

  /* ............ilker */
  .headersection{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: red;
    z-index: 49;
  }
  /* ......................................... */
 .section0 div img {
  width: 70%;
  
 }
 .section0 {
  /* background-color: #F2F0EF; */
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:100px 1fr 1fr;
  grid-template-areas:
  " sky sky "
  " earth water "
  " air fire  "
  ;
  gap: 20px;
 }
 .section0 .div1, .div2 , .div3, .div4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color:#f4c2c2;
  padding: 10px;
  border: #1D5B37 solid 3px;
  
 }
 .section0 a{
  text-decoration: none;
  color: black;
  font-size: 24px;
 }
 .infogrid{
  font-weight: 700;
 }
 .ilker{
  grid-area: sky;
 padding-top: 20px;
  font-size: 32px;
  
 }
.div1{
  grid-area: earth;
}
.div2{
  grid-area: water;
}
.div3{
  grid-area: air;
}
.div4{ 
  grid-area: fire;
}






  /* .......................................section1 */
  .section1{
    background-color: #DCE4D9;
    width: 100%;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  .section1 div{
    display: flex;
    gap: 20px;
  }
  .section1 i{
    font-size: 50px;
    color: #658354;
  }
  .section1 a{
    text-decoration: none;
    font-weight: 700;
    color: #1D5B37;
    font-size: 20px;
  }
  .section2{
    width: 100%;
    height: 100vh;
    background-color: #F2F0EF;
  }
  .halflogo{
    width: 200px;
    height:500px;
    background-image: url(images/logobig.png);
    background-position: center right;
    grid-area: halflogo;
    
   
  }
  .mission{
    grid-area:mission;
    padding-top:70% ;
    margin-left: -30px;
    color:#658354 ;
    font-size: 36px;
    
  }
  .missionp{
    grid-area: paragraph;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px 200px 100px 200px;
    grid-template-areas: 
    "halflogo mission"
    "halflogo paragraph"
    "halflogo paragraph"
    ". paragraph"
    "button button"
    ;
    font-size: 20px;
  }
  .buttonmission{
    width: 70%;
    height: 45px;
    background-color: #658354;
    margin-left: 0px;
    grid-area: button;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    border: none;
    font-size: 16px;
    margin-bottom: 40%;
  }
  .firstbutton{
    margin-left: 20px;
  }
 
  .imageman{
    background-image: url(images/logobig.png);
    background-repeat: no-repeat;
    background-color: #F2F0EF;
    display: flex;
    flex-direction: column;
    
  }
  .blank{
    background-color: #F2F0EF;
    height: 100px;

  }
  .imginfo{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 .imginfo h2{
  font-size: 32px;
 
 }

 .imginfo p{
  font-size: 24px;
 }
 /* ............................................all plants */
 .mainall{
  background-color:  #F2F0EF;
  width: 100%;
  height: 100%;
 }
 .allplants{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 300px;
  gap: 10px;
  width: 100%;
  padding: 10px;

}
.div111 img{
  max-width: 100px;
  max-height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.allplants .div111{
  background-color:#BBD2B9;
  position: relative;
}

 .iconall{
  display: flex;
  height:30px ;
 
 }
 .iconall div{
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
 }
 .iconall .i1{
  width: 30px;
  height: 30px;
  
  position: relative;
  background-color:  #F2F0EF;
  padding: 10px;
  border-radius: 50%;
 }
 .i1 i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 }
.infoall{
  width: 90%;
  height: 20%;
  background-color:  #F2F0EF;
  position: absolute;
  bottom: 0px;
  margin: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.price{
  position: relative;
  font-size: 24px;
  width: 50px;
}
.cents{
  position: absolute;
  top: -0.5em;
  right: -1em;
  font-size: 14px;
}
.euroicon{
  margin-right: 5px;
}
.priceamount{
  font-weight: bold;
}
.scroll-container{
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding-left: 20px;
  margin-top: 30px;
}

.contentbar{
  display: flex;
  gap: 10px;
  
}
.contentbar div{
  border: black solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  padding: 0 10px 0 10px;
  

}
.plantsnumber{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.popicon{
  margin-left: 15px;
}
.dropdownmenu333 a{
  text-decoration: none;
  color:#658354;
  font-weight: 700;
}
.dropdownmenu333{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  background-color: #F2F0EF;
  width: 150px;
  padding: 10px;
  display: none;
  
  
}
#dropdown333{
  display:none ;
  position: relative;
}
#dropdown333:checked ~ .dropdownmenu333{
  display: block;
}
 .dropmenuflex{
  display: flex;
  gap: 10px;
 }
 .greenspan{
  color: #658354;
  font-weight: 700;
 }
 .bold20{
  font-weight: bold;
 }
 .allph1{
  margin: 20px;
 }
 .allph1 p{
  font-size: 20px;
 }
 /* ..................................media */

 @media (min-width: 391px) {
  .blankk{
    width: 20%;
    height: 75px;
    background-color: #E5E1E1;
    display: block;
    position: absolute;
    top: 0px;
    left:-20px;

    
  }
  .search{
    position: relative;
    
    
  } 
  .textsearch{
   border-right: none;
    border-left: #1D5B37 solid 3px  ;
    border-bottom: #1D5B37 solid 5px  ;
    background-color: rgba(211, 234, 209, 0.5);

    }
    .textsearch{
      position: absolute;
      top: 0;
      right: 20px;
      height: 50px;
      width: 265px;
    
      border: none;
      border-right: #1D5B37 solid 3px  ;
      border-bottom: #1D5B37 solid 5px  ;
      background-color: rgba(211, 234, 209, 0.5);
        font-size: 20px;
        padding: 10px;
      }
    .popupmenu{
      left: -20%;
      width:20%;
  }
 
#menucheck:checked ~ .popupmenu{
  transform: translate(100%)
}
/* .section0 .div1, .div2 , .div3, .div4 {
  max-width: 40%;
}
.section0 .div1, .div3{
  justify-self: end;
} */
main h1{
margin-left: 10%;
}
 .section0{
  display: flex;
  justify-content: center;
  
 }
 .section0 .div1, .div2 , .div3, .div4 {
  width: 15%;
}
.section1 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 100px 50px 1fr 1fr ;
  grid-template-areas: 
  " greenh1 greenh1"
  " greenp greenp"
  " greendiv1 ."
  " . greendiv2"
  " greendiv3 ."
  " . greendiv4"

  ;
  padding-top: 50px;
 padding-left: 20%;
 padding-bottom: 100px;


}
.section1 h1{ grid-area: greenh1;
  margin-right: 30%;
  font-size: 30px;
}

 .section1 p{ grid-area: greenp;
  
}
.boldpp{
  font-size: 20px;
  font-weight: bold;
  margin-right: 20%;
}
 .greendiv1{ grid-area: greendiv1;}
 .greendiv2{ grid-area: greendiv2;}
 .greendiv3{ grid-area: greendiv3;}
 .greendiv4{ grid-area: greendiv4;}

.section1 div{
  display: flex;
  gap: 20px;
  text-align: start;
}

.section2{
  width: 100%;
  height: 100vh;
  background-color: #F2F0EF;}
  .mission{
    grid-area:mission;
    padding-top:10% ;
    margin-left: -30px;
    color:#658354 ;
    font-size: 36px;
    
  }
  .missionp{
    grid-area: paragraph;
    margin-top: 50px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 200px 100px 200px 100px 200px;
    grid-template-areas: 
    ". mission"
    "halflogo paragraph"
    "halflogo ."
    "halflogo button"
    ". ."
    ;
  }
  .buttonmission{
    width: 300px;
  }
  .imageman img{
    width: 30%;
    margin-left: 20%;
  }
  .imageman img{
    /* width: 100%; */
    background-image: url(images/logobig.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    
  }
  .imageman{
    background-image: none;
    position: relative;
    padding-bottom: 200px;
    display: flex;
    flex-direction: row;
  }
  .blank{
    display: none;
  }
  .imginfo{
    padding-top: 5%;
    max-width: 30%;
  }
  .allph1 p,h1{
    max-width: 70%;
    margin: auto;
  }
  .allph1 h1{
    padding-left: 90px;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .allplants{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
    gap: 10px;
    width: 70%;
    padding: 10px;
    margin: auto;
    
  
  }
    .scroll-container{
      max-width: 70%;
      margin: auto;
      margin-top: 50px;
      
    }
    .scroll-container div p{
      cursor: pointer;
    }
    .plantsnumber{
      max-width: 70%;
      margin: auto;
    }
    .dropdownmenu333{
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 296px;
      background-color: #F2F0EF;
      width: 150px;
      padding: 10px;
      display: none;
      box-shadow: inset 0px 0px 10px 5px #658354; 
      z-index: 5;
      
      
    }
    .buttonmission{
      cursor: pointer;
    }
    a{
      cursor: pointer;
    }
    .greenspan{
      cursor: pointer;
    }
   nav li{
    cursor: pointer;
   }
   .div111 .iconall, .infoall{
    cursor: pointer;
   }
  
 }
 
 .dropdownmenu333{
  z-index: 10;
 }